/**********************************/
/* CSS rules for instruction.html */
/**********************************/

p {
    font-size: large;
}

body {
    background-color: white;
}

.container {
    font-weight: 500 !important;
}
