/****************************/
/* CSS rules for index.html */
/*** and all .html files ****/
/****************************/

* { padding: 0; margin: 0; }

body {
    background-color: #36abcc;
}

#main .jumbotron {
    background-color: #ebd89b !important;
    font-size: 1.25rem;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    html, body {
        height: 100vh;
    }

    .unit {
        height: 100vh;
    }
}

h3 {
    font-family: sans-serif;
    text-align: center;
}

#left-img {
    float: left;
    width: 9%;
    margin-left: 1%;

    border-style: solid;
    border-color: #0a4150;
    border-width: 2px;
}

#right-img {
    float: right;
    width: 9%;
    margin-right: 1%;

    border-style: solid;
    border-color: #0a4150;
    border-width: 2px;
}

.unit {
    border-bottom: 1px solid #ebd89b;
}

.navbar-mobile {
    background-color: #ebd89b;
}

.navbar-pc {
    width: 100%;
    background-color: #ebd89b;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.navbar-pc a:not(.logout) {
    color: #5370d1;
    display: inline-block;
    margin-top: 1%;
    border-style: solid;
    border-radius: 10%;
    border-width: 2px;
    border-color: #84858a;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    font-weight: 800 !important;
}

.navbar-pc a:link:not(.logout) {
    text-decoration: none;
}

.navbar-pc a:hover:not(.logout) {
    text-decoration: none;
    transform: scale(1.2);
}

.navbar-pc a:visited:not(.logout) {
    text-decoration: none;
}

.navbar-pc a:active:not(.logout) {
    text-decoration: none;
    color: #15205c;
}

/* ids from each link */
.navbar-pc #home {
    float: left;
    margin-left: 2%;
}

.navbar-pc #lessons {
    float: right;
    margin-right: 2%;
}

.navbar-pc #sites {
    float: right;
    margin-right: 2%;
}

.navbar-pc #ins {
    float: right;
    margin-right: 2%;
}

.navbar-pc #forums {
    float: right;
    margin-right: 2%;
}

.navbar-pc #user {
    float: right;
    margin-right: 2%;
}

.navbar-pc #user_con {
    float: right;
    margin-right: 2%;
    margin-top: 0.7%;

    color: #5370d1;
    background-color: #f0efef;
    border: none;
}

.navbar-pc #user_con:active {
    color: #15205c;
}

.container {
    margin-top: 80px !important;
    min-width: 80% !important;
}

.jumbotron {
    padding: 10px;
    background-color: white !important;
}


.navbar-pc  .active {
    background-color: #eaeaea;
    color: #15205c;
}

.unit li {
    font-size: 18px;
}

.unit p {
    text-align: justify;
}

#ins_unit img {
    width: 80px;
}

.accordion .card:hover {
    cursor: pointer;
}

#forum-img {
    width: 12%;
    height: 10%;
}

/* sign in FORM */
#logreg-forms {
    width: 412px;
    margin: 10vh auto;
    background-color: #f3f3f3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}

#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

#logreg-forms .form-control:focus {
    z-index: 2;
}

#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login {
    width: 390px;
    margin: 0 auto;
    margin-bottom: 14px;
    text-align: center;
}

#logreg-forms .social-btn {
    font-weight: 100;
    color: white;
    font-size: 0.9rem;
}

#logreg-forms a {
    display: block;
    padding-top: 10px;
    color: lightseagreen;
}

#logreg-form .lines {
    width: 200px;
    border: 1px solid red;
}


#logreg-forms button[type="submit"] {
    margin-top: 10px;
}

#logreg-forms .facebook-btn {
    background-color: #3C589C;
}

#logreg-forms .google-btn {
    background-color: #DF4B3B;
}

#logreg-forms .form-reset,
#logreg-forms .form-signup {
    display: none;
}

#logreg-forms .form-signup .social-btn {
    width: 210px;
}

#logreg-forms .form-signup input {
    margin-bottom: 2px;
}

.form-signup .social-login {
    width: 210px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px) {
    #logreg-forms {
        width: 300px;
    }

    #logreg-forms .social-login {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    #logreg-forms .social-btn {
        font-size: 1.3rem;
        font-weight: 100;
        color: white;
        width: 200px;
        height: 56px;

    }

    #logreg-forms .social-btn:nth-child(1) {
        margin-bottom: 5px;
    }

    #logreg-forms .social-btn span {
        display: none;
    }

    #logreg-forms .facebook-btn:after {
        content: 'Facebook';
    }

    #logreg-forms .google-btn:after {
        content: 'Google+';
    }

}

#footer_unit a {
    text-decoration: none;
}

#card_forum {
    border: solid 1px #6e6e6e;
    box-shadow: 7px 10px #8a8a8d;
}

#cookies {
    margin: 0 auto;
    margin-bottom: 1%;
    width: 80%;
    max-width: 80%;
    background-color: #ebd89b;
}

#cookies_text {
    text-align: justify;
}

#cookies_text li {
    margin-left: 4%;
}

.card-body {
    text-align: justify;
}

.titles {
    font-style: italic;
    font-weight: bold;
    font-size: 34px;
    color: #ebd89b;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
